<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>

    <h1 id="Encabezado">Hola chicos</h1>
    <h6>Bonito fin de semana</h6>

    <p class="p1">Estamos en la sesión número 2 de reposición</p>

    <p class="p1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id repudiandae in quibusdam labore quam, rem corporis rerum et. Id reiciendis quibusdam quam. Quasi voluptates quae dolorem natus? Aperiam, voluptatem dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolore quo ea. Soluta delectus alias amet ducimus, assumenda tempore cupiditate debitis eius asperiores perspiciatis incidunt adipisci, perferendis tempora. Illo, vero! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam sint laboriosam eaque itaque blanditiis labore quidem rem modi illum nam repellendus, voluptatum deleniti iure tempore numquam iusto totam illo minima!</p>

    <div id="img1">
        <a href="https://www.google.com"> 
            <img src="img/logo3.png" alt="Ir a Google">
        </a>
    </div>

    <div id="img2">
        <p id="centrar">
            <img src="img/loto.png" alt="Loto">
        <p>
        
    </div>
<style>

*{
    font-family: 'Courier New', Courier, monospace;
    color:gray;
    /*border:1px green dashed; */
}


#Encabezado{
    margin:60px; 
    padding:30px; 
    font-family: cursive;
    color:blueviolet; 
    text-align:center;
}

h6{
    font-size:20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic; 
    color:darkmagenta; 
    text-align:center;
}

.p1{
    font-family: 12px;
    text-align: justify;
    
}

#img1{
    width: 170px; 
    margin:auto; 
    padding:20px;
    text-align: center; 
    background-color:pink; 
    border:2px darkviolet solid;
    border-radius: 110px; 
    
}

#img1 img{
    width:150px;

}

#img2{
    width:700px;
    margin:auto;
    border:2px pink solid;
}

#img2 img{
    width:500px;
    
}

#centrar{
    text-align: center;
}

</style>