body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background-color: #335C67;
    padding: 20px;
  }
  header{
     background-color: #E09F3E;
     padding:0 10%;
  }
  header > h1 {
    display: inline-block;
    margin-left: 30px;
  }
   #logo{
      width: 60px;
   }
   nav{
     margin: 10px 10%;
   }
   nav{
     padding:0 10px ;
   }
   #Pokedex {
     width: 750px;
     margin: 50px auto;
   }
   #left {
     width: 250px;
     height: 300px;
     float: left;
     background-color: #FFF3B0;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
     border-top-right-radius: 30px;
   }
   #right {
     width: 250px;
     height: 250px;
     margin-top: 50px;
     background-color: #FFF3B0;
     border-left-color: black;
     border-left-style: solid;
     border-left-width: 3px;
     float: left;
     border-bottom-right-radius: 30px;
     border-top-right-radius: 30px;
   }
   .display {
     border-color: #000000;
     border-style: solid;
   }
   #left > .display {
     width: 180px ;
     height: 150px;
     margin-left: 35px;
     margin-top: 40px;
     color: black;
     background-color: rgb(255, 255, 255);
   }
   #left > .display > img {
     margin-left: 15px;
     height: 80%;
   }
    #dpad {
      width: 60px;
      height: 60px;
      margin-top: 15px;
      margin-left: 20px;
      display: inline-block;
    }
    #dpad-top, #dpad-bottom {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      background-color: #000000;
    }
    #dpad-horizontal {
      width: 60px;
      height: 20px;
      background-color: #000000;
    }
    #btn-circle {
      width: 50px;
      height: 50px;
      margin-left: 95px;
      border-style: solid;
      border-color: black;
      border-radius: 25px;
      background-color: #9E2A2B;
      display: inline-block;
    }
   #right > .display {
     width: 180px;
     height: 120px;
     margin-left: 35px;
     margin-top: 20px;
     background-color: rgb(253, 252, 211);
     font-size: 12px;
   }
    #pad {
      width: 148px;
      height: 65px;
      margin-left: 60px;
      margin-top: 15px;
    }
    #pad > .btn {
      width: 25px;
      height: 25px;
      background-color: #540B0E;
      display: inline-block;
      border-style: solid;
      border-color: rgb(0, 0, 0);
      border-width: 2px;
      border-radius: 3px;
    }
   ul {
     margin: 0;
     padding: 0;
   }
   li {
     list-style-type: none;
   }
   li > p {
     margin: 0 5px;
   }