/* Smarthphone vertical   */
@media (max-width:639px){
body {
   font-size: 12px;
   width: 700px;
   height: 28px;
  }
   

}

 /*     tablets horizontal & laptop vertical (touch screen)    */
  @media only screen and (min-width:1024px) and (max-width:1279px){
    body {
      font-size: 20px;
      width: 800px;
      height: 36px;

    }

  }


#logo{
  width: 60px;
}

body {
width: 80%;
height: 2000px;
margin: auto;
background-color: rgb(199, 252, 200);
}

header{
 background-color:rgb(244, 204, 171);
 padding:0 10%;
 border-radius: 10px;
}

header > h1 {
 display: inline-block;
 margin-left: 30px;
 text-align: center;
 color: rgb(0, 0, 0);
}

nav{
 margin: 10px 10%;
}

nav{
 padding:0 10px ;
}

p {
  color: black;
  font-size: 20px;
}

li {
 list-style-type: none;
}

li > p {
 margin: 0 5px;
}
a{
  transition:background-color .5;
  width: 200px;
  padding: 50px;
  height: 70px;
  margin: auto;
  margin-bottom: 50px;
  left: 50px;
}

iframe {
  width: 600px;
  margin-left: 400px;
  height: 300px;
  padding-left: 40%;
  padding-top:0 1px;
  margin-top: 1px;
  background-color: rgb(253, 252, 211);
  padding: 60px;
  
}

h4{
  text-align: right;
  padding-top: 10px;
  margin-top: -500px;
  color: rgb(14, 59, 155);

}

h2 {
  padding: 10px;
  background-color: rgb(89, 79, 54);
  width: 250px;
  padding: 5px;
  height: 60px;
  border-style: dashed;
  border-color: black;
  color: rgb(41, 28, 11);

}

main {
  margin: 100px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  width: 700px;
  height: 900px;
  padding: 200px;
  font-size: 30px;
  border-style: groove;
  border-color: black;
  text-align: left;

}

#inframe2 {
  width: 600px;
  margin-left: 30px;
  height: 300px;
  padding-left: 40%;
  padding-top:0 1px;
  margin-top: 1px;
  margin-bottom: 900px;
  background-color: rgb(253, 252, 211);
  padding: 60px;
}



